body {
    height: 1500px;
    position: relative;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    display: inline;
    padding: 10px;
    list-style: none;
}

nav {
    background-color:aqua;
    position: fixed;
    width: 100%;
    padding: 10px;
}

a:hover {
    background-color: blueviolet
}

a {
    text-decoration: none;
}

.dopdown-menu {
    position: absolute;
    width: 50%;
    background-color: white;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid blue;
    padding-left: 0;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
}

.dropsown:hover .dropdown-menu {
    opacity: 1;
}

.dropdown a:hover {
    cursor: pointer;
}

@media only screen and (maz-width: 768px) {
    ul {
        flex-direction: column;
    }
}
